@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');


$c-celeste:#95B8F6;
$c-celeste-oscuro:#72a2f6;
$c-rojo:#FA5F49;
$c-rojo-oscuro:#f13f27;
$c-blanco:#ECF0F3;
$c-negro: #393939;
/* sombras */
$s-claro:#ffffff;
$s-oscuro:#D1D9E6;

$sd-claro: rgba(73, 73, 73, .50);
$sd-oscuro: rgba(0, 0, 0, 0.40);
/* fuentes */
$f-principal: 'Poppins', sans-serif;
$f-secundaria: 'Playfair Display', serif;
