@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;

.error-conteiner{

    background-color: v.$c-rojo;
    color: v.$c-blanco;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem .9rem;
    margin-top: 1rem;
    border-radius: .8rem;

    &__mensaje{
        color: v.$c-blanco;
        text-align: center;
    }
}