@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;

.form-section{

    padding: 2rem 1.5rem 0 1.5rem;
    @include m.media( 925px ){
        width: 50%;
        padding: 0 1.5rem 0 1.5rem;
    }
    
    &__title{
        @include m.title( 700, 1.8rem , center );
    }
    
    &__sub-title{
        margin: .3rem 0 3rem 0;
        @include m.title( 500, 1.2rem , center );
        
    }
    
    &__sub-title--span{
        color: v.$c-celeste;
    }
}



.form{
    @include m.neo(.4rem , 100%, false);
    font-size: 1rem;
    padding: 2rem;
    overflow: hidden;
    border-radius: 1rem;

    body.dark &{
        @include m.neoD(.2rem , 100%, false);
    }
    
}

.dato-conteiner{

    margin-bottom: 1rem;
    
    &__label{
        font-weight: 600; 
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__input{
        @include m.neo(.2rem , 100%, true);
        padding: 1rem .9rem;
        width: 100%;
        border-radius: .8rem;
        outline: none;
        resize: none;
        transition: all .5s ease-in;

        body.dark &{
        @include m.neoD(.2rem , 100%, true);
        }

        &:hover{
            @include m.neo(.1rem , 100%, true);
        }
    }
}

.form__button{
    @include m.neo(.3rem , 100%, false);
    @include m.button(v.$c-celeste, v.$c-celeste-oscuro);
    margin-top: 1.5rem;
    
    body.dark & {
        @include m.neoD(.2rem , 100%, false);
    }
}