@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;

.header{
    min-height: 100vh;
    position: relative;
}

.conteiner-img{
    background-color: v.$c-celeste;
    height: 35vh;
    @include m.flex(row, nowrap, center, flex-end);
    transition: all 1s;
    
    &__cat-dark{
        display: block;
        height: auto;
        max-width: 100%;
        transition: all .5s;
        
        @include m.media(430px){
            max-width: 27rem;
            width: 80%;
        }
        
        body.dark &{
            display: none;
            
        }
        
    }
    &__cat-light{
        display: none;
        height: auto;
        max-width: 100%;
        transition: all .5s;
        
        @include m.media(430px){
            max-width: 27rem;
            width: 80%;
        }

        body.dark &{
            display: block;
        }
    }
}

.dark-mode{
    position: absolute;
    right: 2rem;
    padding: 1rem .9rem;
    border-radius: .8rem;
    background-color: v.$c-blanco;
    cursor: pointer;
    @include m.neo(.4rem , 100%, false);
    margin-top: 1.5rem;
    transition: all .3s;

    body.dark & {
        @include m.neoD(.2rem , 100%, false);
        background-color: v.$c-negro;
        border: none;
        color: v.$c-blanco;
    }

    &:active{
        transform: scale(.98);
    }

    &__sun{
        display: none;
        
        body.dark &{
            display: block;
        }
    }

    &__moon{
        display: block;
        
        body.dark &{
            display: none;
        }
    }  
}

.conteiner-info{

    padding: 2rem 1.5rem 2rem 1.5rem;
    @include m.flex(column, nowrap, center, center);
    height: 65vh;
    
    &__title{
        margin: 2rem 0 4rem 0;
        font-family: v.$f-secundaria;
        @include m.title( 700, 1.5rem , center );
        
        &--span{
            display: block;
            color: v.$c-celeste;
            font-size: 2.9rem;
        }
    }
    
    &__huellas{
        width: 5rem;
        margin: 0 auto 0 auto;
        margin-bottom: 2rem;
    }
}