@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;

.header{
    min-height: 100vh;
    position: relative;
}

.cat-conteiner{
    @include m.flex(row, nowrap, center, flex-end);
    background-color: v.$c-celeste;
    height: 35vh;
    
    &__gato{
        display: block;
        height: auto;
        max-width: 100%;
        transition: all .5s;
        
        @include m.media(430px){
            max-width: 27rem;
            width: 80%;
        }
        
    }
}


.dark-mode{
    @include m.neo(.4rem , 100%, false);
    background-color: v.$c-blanco;
    padding: 1rem .9rem;
    margin-top: 1.5rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    border-radius: .8rem;
    transition: all .3s;

    body.dark & {
        @include m.neoD(.2rem , 100%, false);
        background-color: v.$c-negro;
        border: none;
        color: v.$c-blanco;
    }

    &:active{
        transform: scale(.98);
    }

    &__icon{
        width: auto;
    }
}

.conteiner-info{

    @include m.flex(column, nowrap, center, center);
    padding: 2rem 1.5rem 2rem 1.5rem;
    height: 65vh;
    
    &__title{
        @include m.title( 700, 1.5rem , center );
        font-family: v.$f-secundaria;
        margin: 2rem 0 4rem 0;
        
        &--span{
            color: v.$c-celeste;
            font-size: 2.9rem;
            display: block;
        }
    }
    
    &__huellas{
        width: 5rem;
        margin: 0 auto 2rem auto;
    }
}